.App {
  text-align: center;
}

#box {
  align-items: center;
  border: 1px solid #b3b3b3;
  width: 300px;
  height: 55px;
  border-radius: 10px
}

#info {
  justify-content: center
}

#phone {
  margin-bottom: 17px;
  display: flex;
  align-items: center
}

#number {
  margin-top: 10px
}

#time p {
  font-size: 15px;
  color: #c3c3c3;
  font-weight: 700;
  margin-top: 10px
}

#info-call {
  color: grey;
  font-size: 13px
}

.separator h1 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: .1em;
  margin: 10px 0 20px
}

h1 span, h4 span {
  background: #fff;
  padding: 0 10px
}

#box1 {
  text-align: center;
  padding: 40px
}

#box1 .jumbotron {
  border-radius: 15px;
  padding: 5px;
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid #c8c8c8;
  max-width: 400px;
  margin: 0 auto
}

.jumbotron img {
  width: 40px;
  margin-top: 10px;
  margin-left: 15px
}

#time {
  display: flex;
  align-items: center;
  flex-direction: row-reverse
}

#info p {
  color: #c3c3c3
}

b, strong {
  color: #b3b3b3
}

#number strong {
  color: #000;
  font-weight: 700
}

#text {
  margin-bottom: -10px;
  margin-top: -10px;
  margin-right: -40px;
}

.h4, h4 {
  width: 100%;
  text-align: center;
  border-bottom: 1px dotted #a3a2a2;
  line-height: .1em;
  margin: 10px 0 20px;
  color: #c3c3c3
}

